html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  }
  .customButton { width:80px; height:80px; background-color:#FFCD00; border: solid; color: #356ABC; font-weight:bold; padding: 15px 32px; border-radius: 15px; margin-bottom:100px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; /* -webkit-transition-duration: 0.4s; */ /* /* Safaritransition-duration: 0.4s; */ }